<ion-view view-title="Details">
  <ion-content class="padding">
    <img ng-src="{{episode.image}}" style="width: 100%; max-width; 400px;">
    <p>
      <div class="">
        Episode Name:
        {{episode.name}}
      </div>
      <div class="">
        Air date:
        {{episode.airDate}}
      </div>
      <div class="">
        Air time:
        {{episode.airTime}}
      </div>
      <div class="">
        Season:
        {{episode.season}}
      </div>
      <div class="">
        Number:
        {{episode.number}}
      </div>
    </p>
  </ion-content>
</ion-view>
